.title h1{
    font-family: "Noto Sans JP", sans-serif;
    color: #29a987;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
}

h2{
    font-family: "Noto Sans JP", sans-serif;
    color: #29a987;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
}