.menu-button {
    position: fixed; 
    top: 15px;
    right: 15px; 
    cursor: pointer;
    z-index: 1000; 
}

.bar {
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s; 
}
.menu {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: 0.3s; 
    padding-top: 60px;
}
.menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #575757;
}