.title h1 {
  font-family: "Noto Sans JP", sans-serif;
  color: #29a987;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
}

.goals h2 {
  color: #d6336c;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: #29a987;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 5px;
  margin-top: 1.5em;
}

h3 {
  color: #29a987;
}

.goals {
  border: 2px solid #d6336c;
  margin: 20px;
  padding: 10px;
  max-width: 800px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  display: flex;
  justify-content: center; /* 横方向中央 */
  align-items: flex-start; /* 縦方向中央 */
  min-height: 100vh; /* 画面全体の高さ */
  margin: 0;
  background-color: #fff;
}

.container {
  width: 80%;
  max-width: 1000px;
  background: white;
  padding: 0;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
}

#title th {
  text-align: center;
  background-color: rgb(187, 187, 187);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

a:link,
a:visited,
a:hover,
a:active {
  color: blue; /* 常に青 */
  text-decoration: underline;
}

.b {
  font-weight: bold;
  color: #29a987;
  font-size: 18px;
}

.lang-section p {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.lang-section {
  margin: 1em 0;
  padding: 0.8em;
  border-left: 5px solid #4caf50;
  background: #f9f9f9;
}

.highlight {
  font-weight: bold;
  color: #d6336c; /* 赤寄りの強調色 */
}

footer {
  margin-top: auto;
  font-size: 15px;
}
