.title h1{
    font-family: "Noto Sans JP", sans-serif;
    color: #29a987;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
}

h2{
    font-family: "Noto Sans JP", sans-serif;
    color: #29a987;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.gtitle{
    font-size: 24px;
    color: black;
    font-weight: 700;
}

footer{
    font-size: 15px;
}